html {
    box-sizing: border-box;
}

body {
    background-color: rgb(23, 22, 22);
    display: flex;
    justify-content:center;
    align-items:center;
    min-height:90vh;
}

#mother_div {
    background-color: rgb(41, 43, 39);
    width:100%;
    max-width: 840px;
    height:30rem;
    border-radius:20px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    border:2px solid rgb(41, 43, 39);
}

.img_box {
    margin: 1rem;
    display:flex;
    align-items: center;
}

.img_box > img {
    height:25rem
}

.but_box {
    display:flex;
    flex-direction: column;
    justify-content: center;
    /* margin-right:5rem */
}

button {
    width:5rem;
    height:5rem;
    border-radius: 2rem;
    background-color: rgb(23, 22, 22);
    border-color: rgb(155, 4, 4);
}

button:hover {
    box-shadow: 1px 1px 10px 0.5px red;
}

i {
    font-size: 2rem;
    color:rgba(216, 8, 8, 0.89)
}
.score {
    color:white;
    font-weight: 500;
    font-size: 1.1rem;
    font-family: 'Staatliches', cursive;
    
}

#score {
    color: rgba(216, 8, 8, 0.89);
}

#bestscore {
    color:rgba(216, 8, 8, 0.89)
}