html {
    box-sizing: border-box;
}

body {
    background-color: rgb(23, 22, 22);
    color:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    min-height:90vh;
}

.mother_div {
    box-sizing: border-box;
    background-color: rgb(39, 31, 31);
    width:100%;
    max-width: 840px;
    height:30rem;
    border-radius:20px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    border:2px solid rgb(39, 31, 31);
    box-shadow: 0 0 10px 0px crimson;
    transition: 0.5s;
}

h1 {
    position: absolute;
    top:0.5rem;
    left:2.5rem;
    font-family: 'Righteous', cursive;
    color:rgb(249, 236, 236);
    text-shadow: 1px 6px 10px #cc0000;
}

.scorebox {
    color:rgb(223, 200, 200);
    font-weight: 500;
    font-size: 1.1rem;
    font-family: 'Staatliches', cursive;
}

.scores {
    color: rgba(201, 27, 27, 0.879);
    font-size: 24px;
}

.img_box {
    margin: 1rem;
    display:flex;
    align-items: center;
    border-radius:15px;
    box-shadow: 0 0 10px 1px rgb(23, 22, 22);
}

.card_img {
    height:25rem;
    filter: brightness(90%);
}

.but_box {
    display:flex;
    flex-direction: column;
    justify-content: center;
    /* margin-right:3rem */
}

.but_box button {
    width:5rem;
    height:5rem;
    border-radius: 2rem;
    background-color: rgb(23, 22, 22);
    border-color: rgb(155, 4, 4);
}

.but_box button:hover {
    box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 0.897);
}

button .fa {
    font-size: 2rem;
    color:rgba(216, 8, 8, 0.89);
}

#msg {
    font-family: 'Staatliches', cursive;
    font-size: 2.5rem;
    transition: 1s;
    position:absolute;
    top:0.5rem;
    text-shadow: 2px 0 1px #cc0000;

}

@media (max-width: 1195px) {
    .mother_div {
        margin-top: 2.5rem;
    }
}

@media (max-width: 483px) {
    .mother_div {
        flex-direction: column;
        min-height: 37rem;
        margin-top: 5rem;
        align-items: center;
        justify-content: space-evenly;
    }

    .but_box {
        flex-direction: row;
        justify-content: center;
        bottom:6rem
    } 
    .scorebox {   
        display:flex;
        width:100%;
        justify-content:space-evenly;
        align-items:center;
        top:5rem;
    }
}
